[Desktop Entry]
Name=Uninstall Titan Quest - Anniversary Edition
Exec=env WINEPREFIX="/home/hypnos/Games/gog/titan-quest-anniversary-edition" wine /home/ubuntu/buildbot/runners/wine/lutris-5.7-11-x86_64/bin/wine /Unix /home/hypnos/Games/gog/titan-quest-anniversary-edition/dosdevices/c:/ProgramData/Microsoft/Windows/Start\\ Menu/Programs/GOG.com/Titan\\ Quest\\ -\\ Anniversary\\ Edition/Uninstall\\ Titan\\ Quest\\ -\\ Anniversary\\ Edition.lnk
Type=Application
StartupNotify=true
Path=/home/hypnos/Games/gog/titan-quest-anniversary-edition/dosdevices/c:/GOG Games/Titan Quest - Anniversary Edition
Icon=D28A_unins000.0
StartupWMClass=unins000.exe
