[submodule "zsh/plugins/zsh-completions"]
	path = zsh/plugins/zsh-completions
    url = https://github.com/zsh-users/zsh-completions
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh/prompt"]
	path = zsh/prompt
	url = git@github.com:Phantas0s/purification
