#!/bin/bash

# TODO - to improve - install_config name is no good

# It's good to have this file on a cloud (I use Nextcloud)

# Personnal env variables - this file need to be copied as install_config and the variables need to be replaced 

# You might need to change variables in zsh/zshenv files as well

# Git user and email to set up git automatically
# GIT_USER=""
# GIT_EMAIL=""

### Installation from hosting service (nextcloud / dropbox...) ######
# see install/install-from-cloud.sh

#private configurations from my personnal cloud

#DOTFILES_CLOUD="$HOME/nextcloud/development/dotfiles_projects/ENV"
#wallpaper folder
# WALLPAPER_PATH="$HOME/nextcloud/wallpaper" 

# Small i3 status bar (for small screen) or extended
# I3_STATUS_BAR="small"
