#!/bin/bash

# To Phantas0s:
# THIS FILE IS ALREADY AVAILABLE ON THE PERSONAL CLOUD (NEXTCLOUD) - $HOME/<cloud-folder>/development/dotfiles_projects/ENV
# Normally, only need to create a symbolic link here

# --------------------------------------------------------------------------------------------------------------------------

# personnal variables - this file need to be copied as install_config and the variables need to be replaced 
# you might need to change variables in env files as well

# Git user and email to set up git automatically
# GIT_USER=""
# GIT_EMAIL=""

# Path for your default journal - https://github.com/maebert/jrnl
# JRNL_DEFAULT_PATH=""

### Installation from hosting service (nextcloud / dropbox...) ######
# see install/install-from-cloud.sh

#private configurations from my personnal cloud
# DOTFILES_CLOUD="$HOME/nextcloud/development/dotfiles_projects/ENV"
#wallpaper folder
# WALLPAPER_PATH="$HOME/nextcloud/wallpaper" 

# Small or extended
# I3_STATUS_BAR="small"
