snippet faf "Fat arrow function (faf)" w
${1:function_name} = (${2:argument}) => {
	${VISUAL}$0
}
endsnippet

snippet afaf "Anonymous fat arrow function (faf)" w
(${1:argument}) => {
	${VISUAL}$0
}
endsnippet
