snippet hh "Hugo Header"
+++
date = "${1}"
draft = true
title = ""
tags = []

socialImage = ""
headerWebp = ""
headerAlt = ""

excerpt = ""
description = ""
+++
endsnippet

snippet hbq "Hugo blockquote"
{{< blockquote author="${1}" link="${2}">}}
${3}
{{< /blockquote >}}
endsnippet

snippet hlt "Hugo list table"
{{<list-table>}}
${1}
{{</list-table>}}
endsnippet

snippet htable "Hugo list table"
{{<table>}}
${1}
{{</table>}}
endsnippet
