snippet hheader "Hugo Header"
+++
date = "${1}"
draft = false
title = ""
tags = []

socialImage = ""
headerWebp = ""
headerAlt = ""

excerpt = ""
description = ""
+++
endsnippet

snippet hbq "Hugo blockquote"
{{< blockquote author="${1}" link="${2}">}}
${3}
{{< /blockquote >}}
endsnippet
