snippet header "Hugo Header"
+++
date = "${1}"
draft = true
title = ""
tags = []

socialImage = ""
headerWebp = ""
headerAlt = ""

excerpt = ""
description = ""
+++
endsnippet

snippet bq "Hugo blockquote"
{{< blockquote author="${1}" link="${2}">}}
${3}
{{< /blockquote >}}
endsnippet

snippet table "Hugo list table"
{{<table>}}
${1}
{{</table>}}
endsnippet

snippet list-table "Create a list table"
{{<list-table header="true" >}}
$1
{{</list-table>}}
endsnippet
