snippet f "function" b
function ${1}(${2})
	${3}
endfunction
endsnippet

snippet f! "function bang"
function! ${1}(${2})
	${3}
endfunction
endsnippet

snippet r "commented result"
" => 
endsnippet

snippet [ "list"
[${1},]
endsnippet

snippet { "dictionary"
{${1},}
endsnippet
