[Desktop Entry]
Name=Steam
Exec=env WINEPREFIX="/home/hypnos/.config/local/share/lutris/runners/winesteam/prefix64" wine /home/ubuntu/buildbot/runners/wine/lutris-5.7-11-x86_64/bin/wine /Unix /home/hypnos/.config/local/share/lutris/runners/winesteam/prefix64/dosdevices/c:/ProgramData/Microsoft/Windows/Start\\ Menu/Programs/Steam/Steam.lnk
Type=Application
StartupNotify=true
Path=/home/hypnos/.config/local/share/lutris/runners/winesteam/prefix64/dosdevices/c:/Program Files (x86)/Steam
Icon=10B4_steam.0
StartupWMClass=steam.exe
