[Desktop Entry]
Name=Uninstall Legend of Grimrock II
Exec=env WINEPREFIX="/home/hypnos/Games/gog/legend-of-grimrock-2" /home/ubuntu/buildbot/runners/wine/lutris-6.0-rc1-x86_64/bin/wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/hypnos/Games/gog/legend-of-grimrock-2/dosdevices/c:/ProgramData/Microsoft/Windows/Start\\ Menu/Programs/Legend\\ of\\ Grimrock\\ II\\ [GOG.com]/Uninstall\\ Legend\\ of\\ Grimrock\\ II.lnk
Type=Application
StartupNotify=true
Path=/home/hypnos/Games/gog/legend-of-grimrock-2/dosdevices/c:/GOG Games/Legend of Grimrock II
Icon=2243_unins000.0
StartupWMClass=unins000.exe
