<?xml version="1.0" encoding="UTF-8"?>
<doublecmd DCVersion="0.9.9 beta">
  <Hotkeys Version="46">
    <Form Name="Main">
      <Hotkey>
        <Shortcut>F1</Shortcut>
        <Command>cm_About</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>F2</Shortcut>
        <Command>cm_RenameOnly</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Shift+F6</Shortcut>
        <Command>cm_RenameOnly</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>F3</Shortcut>
        <Command>cm_View</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>F4</Shortcut>
        <Command>cm_Edit</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>F5</Shortcut>
        <Command>cm_Copy</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>F6</Shortcut>
        <Command>cm_Rename</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>F7</Shortcut>
        <Command>cm_MakeDir</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>F8</Shortcut>
        <Command>cm_Delete</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Shift+F8</Shortcut>
        <Command>cm_Delete</Command>
        <Param>trashcan=reversesetting</Param>
      </Hotkey>
      <Hotkey>
        <Shortcut>F9</Shortcut>
        <Command>cm_RunTerm</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Alt+F8</Shortcut>
        <Command>cm_ShowCmdLineHistory</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+Down</Shortcut>
        <Command>cm_ShowCmdLineHistory</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+B</Shortcut>
        <Command>cm_FlatView</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+D</Shortcut>
        <Command>cm_DirHotList</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+F</Shortcut>
        <Command>cm_QuickFilter</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+H</Shortcut>
        <Command>cm_DirHistory</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Alt+Down</Shortcut>
        <Command>cm_DirHistory</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+L</Shortcut>
        <Command>cm_CalculateSpace</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+M</Shortcut>
        <Command>cm_MultiRename</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+O</Shortcut>
        <Command>cm_ToggleFullscreenConsole</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+P</Shortcut>
        <Command>cm_AddPathToCmdLine</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+Q</Shortcut>
        <Command>cm_QuickView</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+S</Shortcut>
        <Command>cm_QuickSearch</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+R</Shortcut>
        <Command>cm_Refresh</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+T</Shortcut>
        <Command>cm_NewTab</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+U</Shortcut>
        <Command>cm_Exchange</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+W</Shortcut>
        <Command>cm_CloseTab</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+F1</Shortcut>
        <Command>cm_BriefView</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+F2</Shortcut>
        <Command>cm_ColumnsView</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+F3</Shortcut>
        <Command>cm_SortByName</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+F4</Shortcut>
        <Command>cm_SortByExt</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+F5</Shortcut>
        <Command>cm_SortByDate</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+F6</Shortcut>
        <Command>cm_SortBySize</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+Enter</Shortcut>
        <Command>cm_AddFilenameToCmdLine</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+PgDn</Shortcut>
        <Command>cm_OpenArchive</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+PgUp</Shortcut>
        <Command>cm_ChangeDirToParent</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+Alt+Enter</Shortcut>
        <Command>cm_ShellExecute</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+Shift+C</Shortcut>
        <Command>cm_CopyFullNamesToClip</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+Shift+D</Shortcut>
        <Command>cm_ConfigDirHotList</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+Shift+H</Shortcut>
        <Command>cm_HorizontalFilePanels</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+Shift+X</Shortcut>
        <Command>cm_CopyNamesToClip</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+Shift+F1</Shortcut>
        <Command>cm_ThumbnailsView</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+Shift+Enter</Shortcut>
        <Command>cm_AddPathAndFilenameToCmdLine</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+Shift+Tab</Shortcut>
        <Command>cm_PrevTab</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+Shift+F7</Shortcut>
        <Command>cm_AddNewSearch</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+Shift+F8</Shortcut>
        <Command>cm_TreeView</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+Tab</Shortcut>
        <Command>cm_NextTab</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+Up</Shortcut>
        <Command>cm_OpenDirInNewTab</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+\</Shortcut>
        <Command>cm_ChangeDirToRoot</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+.</Shortcut>
        <Command>cm_ShowSysFiles</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Shift+F2</Shortcut>
        <Command>cm_FocusCmdLine</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Shift+F4</Shortcut>
        <Command>cm_EditNew</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Shift+F5</Shortcut>
        <Command>cm_CopySamePanel</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Shift+F10</Shortcut>
        <Command>cm_ContextMenu</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Shift+F12</Shortcut>
        <Command>cm_DoAnyCmCommand</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Shift+Tab</Shortcut>
        <Command>cm_FocusTreeView</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Alt+V</Shortcut>
        <Command>cm_OperationsViewer</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Alt+X</Shortcut>
        <Command>cm_Exit</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Alt+Z</Shortcut>
        <Command>cm_TargetEqualSource</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Alt+F1</Shortcut>
        <Command>cm_LeftOpenDrives</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Alt+F2</Shortcut>
        <Command>cm_RightOpenDrives</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Alt+F5</Shortcut>
        <Command>cm_PackFiles</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Alt+F7</Shortcut>
        <Command>cm_Search</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Alt+F9</Shortcut>
        <Command>cm_ExtractFiles</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Alt+Del</Shortcut>
        <Command>cm_Wipe</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Alt+Enter</Shortcut>
        <Command>cm_FileProperties</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Alt+Left</Shortcut>
        <Command>cm_ViewHistoryPrev</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Alt+Right</Shortcut>
        <Command>cm_ViewHistoryNext</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Alt+Shift+Enter</Shortcut>
        <Command>cm_CountDirContent</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Alt+Shift+F9</Shortcut>
        <Command>cm_TestArchive</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Alt+1</Shortcut>
        <Command>cm_ActivateTabByIndex</Command>
        <Param>index=1</Param>
      </Hotkey>
      <Hotkey>
        <Shortcut>Alt+2</Shortcut>
        <Command>cm_ActivateTabByIndex</Command>
        <Param>index=2</Param>
      </Hotkey>
      <Hotkey>
        <Shortcut>Alt+3</Shortcut>
        <Command>cm_ActivateTabByIndex</Command>
        <Param>index=3</Param>
      </Hotkey>
      <Hotkey>
        <Shortcut>Alt+4</Shortcut>
        <Command>cm_ActivateTabByIndex</Command>
        <Param>index=4</Param>
      </Hotkey>
      <Hotkey>
        <Shortcut>Alt+5</Shortcut>
        <Command>cm_ActivateTabByIndex</Command>
        <Param>index=5</Param>
      </Hotkey>
      <Hotkey>
        <Shortcut>Alt+6</Shortcut>
        <Command>cm_ActivateTabByIndex</Command>
        <Param>index=6</Param>
      </Hotkey>
      <Hotkey>
        <Shortcut>Alt+7</Shortcut>
        <Command>cm_ActivateTabByIndex</Command>
        <Param>index=7</Param>
      </Hotkey>
      <Hotkey>
        <Shortcut>Alt+8</Shortcut>
        <Command>cm_ActivateTabByIndex</Command>
        <Param>index=8</Param>
      </Hotkey>
      <Hotkey>
        <Shortcut>Alt+9</Shortcut>
        <Command>cm_ActivateTabByIndex</Command>
        <Param>index=9</Param>
      </Hotkey>
      <Hotkey>
        <Shortcut>Alt+`</Shortcut>
        <Command>cm_ActivateTabByIndex</Command>
        <Param>index=-1</Param>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+1</Shortcut>
        <Command>cm_OpenDriveByIndex</Command>
        <Param>index=1</Param>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+2</Shortcut>
        <Command>cm_OpenDriveByIndex</Command>
        <Param>index=2</Param>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+3</Shortcut>
        <Command>cm_OpenDriveByIndex</Command>
        <Param>index=3</Param>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+4</Shortcut>
        <Command>cm_OpenDriveByIndex</Command>
        <Param>index=4</Param>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+5</Shortcut>
        <Command>cm_OpenDriveByIndex</Command>
        <Param>index=5</Param>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+6</Shortcut>
        <Command>cm_OpenDriveByIndex</Command>
        <Param>index=6</Param>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+7</Shortcut>
        <Command>cm_OpenDriveByIndex</Command>
        <Param>index=7</Param>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+8</Shortcut>
        <Command>cm_OpenDriveByIndex</Command>
        <Param>index=8</Param>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+9</Shortcut>
        <Command>cm_OpenDriveByIndex</Command>
        <Param>index=9</Param>
      </Hotkey>
      <Hotkey>
        <Shortcut>Del</Shortcut>
        <Command>cm_Delete</Command>
        <Param>trashcan=reversesetting</Param>
        <Control>Files Panel</Control>
      </Hotkey>
      <Hotkey>
        <Shortcut>Shift+Del</Shortcut>
        <Command>cm_Delete</Command>
        <Param>trashcan=reversesetting</Param>
        <Control>Files Panel</Control>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+A</Shortcut>
        <Command>cm_MarkMarkAll</Command>
        <Control>Files Panel</Control>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+Num+</Shortcut>
        <Command>cm_MarkMarkAll</Command>
        <Control>Files Panel</Control>
      </Hotkey>
      <Hotkey>
        <Shortcut>Num+</Shortcut>
        <Command>cm_MarkPlus</Command>
        <Control>Files Panel</Control>
      </Hotkey>
      <Hotkey>
        <Shortcut>Shift+Num+</Shortcut>
        <Command>cm_MarkCurrentExtension</Command>
        <Control>Files Panel</Control>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+Num-</Shortcut>
        <Command>cm_MarkUnmarkAll</Command>
        <Control>Files Panel</Control>
      </Hotkey>
      <Hotkey>
        <Shortcut>Num-</Shortcut>
        <Command>cm_MarkMinus</Command>
        <Control>Files Panel</Control>
      </Hotkey>
      <Hotkey>
        <Shortcut>Shift+Num-</Shortcut>
        <Command>cm_UnmarkCurrentExtension</Command>
        <Control>Files Panel</Control>
      </Hotkey>
      <Hotkey>
        <Shortcut>Num*</Shortcut>
        <Command>cm_MarkInvert</Command>
        <Control>Files Panel</Control>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+Z</Shortcut>
        <Command>cm_EditComment</Command>
        <Control>Files Panel</Control>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+Shift+Home</Shortcut>
        <Command>cm_ChangeDirToHome</Command>
        <Control>Files Panel</Control>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+Left</Shortcut>
        <Command>cm_TransferLeft</Command>
        <Control>Files Panel</Control>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+Right</Shortcut>
        <Command>cm_TransferRight</Command>
        <Control>Files Panel</Control>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+C</Shortcut>
        <Command>cm_CopyToClipboard</Command>
        <Control>Files Panel</Control>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+V</Shortcut>
        <Command>cm_PasteFromClipboard</Command>
        <Control>Files Panel</Control>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+X</Shortcut>
        <Command>cm_CutToClipboard</Command>
        <Control>Files Panel</Control>
      </Hotkey>
    </Form>
    <Form Name="Viewer">
      <Hotkey>
        <Shortcut>F1</Shortcut>
        <Command>cm_About</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>F2</Shortcut>
        <Command>cm_Reload</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>N</Shortcut>
        <Command>cm_LoadNextFile</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Right</Shortcut>
        <Command>cm_LoadNextFile</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>P</Shortcut>
        <Command>cm_LoadPrevFile</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Left</Shortcut>
        <Command>cm_LoadPrevFile</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>1</Shortcut>
        <Command>cm_ShowAsText</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>2</Shortcut>
        <Command>cm_ShowAsBin</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>3</Shortcut>
        <Command>cm_ShowAsHex</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>4</Shortcut>
        <Command>cm_ShowAsWrapText</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>5</Shortcut>
        <Command>cm_ShowAsBook</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>6</Shortcut>
        <Command>cm_ShowGraphics</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>7</Shortcut>
        <Command>cm_ShowPlugins</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Q</Shortcut>
        <Command>cm_ExitViewer</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Esc</Shortcut>
        <Command>cm_ExitViewer</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>F</Shortcut>
        <Command>cm_Find</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+F</Shortcut>
        <Command>cm_Find</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>F7</Shortcut>
        <Command>cm_Find</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>F3</Shortcut>
        <Command>cm_FindNext</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Shift+F3</Shortcut>
        <Command>cm_FindPrev</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>`</Shortcut>
        <Command>cm_Preview</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Num+</Shortcut>
        <Command>cm_ZoomIn</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Num-</Shortcut>
        <Command>cm_ZoomOut</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Alt+Enter</Shortcut>
        <Command>cm_Fullscreen</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+A</Shortcut>
        <Command>cm_SelectAll</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+C</Shortcut>
        <Command>cm_CopyToClipboard</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>A</Shortcut>
        <Command>cm_ChangeEncoding</Command>
        <Param>ANSI</Param>
      </Hotkey>
      <Hotkey>
        <Shortcut>S</Shortcut>
        <Command>cm_ChangeEncoding</Command>
        <Param>OEM</Param>
      </Hotkey>
      <Hotkey>
        <Shortcut>Z</Shortcut>
        <Command>cm_ChangeEncoding</Command>
        <Param>UTF-8</Param>
      </Hotkey>
      <Hotkey>
        <Shortcut>X</Shortcut>
        <Command>cm_ChangeEncoding</Command>
        <Param>UTF-16LE</Param>
      </Hotkey>
    </Form>
    <Form Name="Differ">
      <Hotkey>
        <Shortcut>Ctrl+R</Shortcut>
        <Command>cm_Reload</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Alt+Down</Shortcut>
        <Command>cm_NextDifference</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Alt+Up</Shortcut>
        <Command>cm_PrevDifference</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Alt+Home</Shortcut>
        <Command>cm_FirstDifference</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Alt+End</Shortcut>
        <Command>cm_LastDifference</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Alt+X</Shortcut>
        <Command>cm_Exit</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Alt+Left</Shortcut>
        <Command>cm_CopyRightToLeft</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Alt+Right</Shortcut>
        <Command>cm_CopyLeftToRight</Command>
      </Hotkey>
    </Form>
    <Form Name="Copy/Move Dialog">
      <Hotkey>
        <Shortcut>F2</Shortcut>
        <Command>cm_AddToQueue</Command>
      </Hotkey>
    </Form>
    <Form Name="Edit Comment Dialog">
      <Hotkey>
        <Shortcut>F2</Shortcut>
        <Command>cm_SaveDescription</Command>
      </Hotkey>
    </Form>
    <Form Name="Synchronize Directories">
      <Hotkey>
        <Shortcut>Ctrl+M</Shortcut>
        <Command>cm_SelectClear</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+D</Shortcut>
        <Command>cm_SelectCopyDefault</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+W</Shortcut>
        <Command>cm_SelectCopyReverse</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+L</Shortcut>
        <Command>cm_SelectCopyLeftToRight</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+R</Shortcut>
        <Command>cm_SelectCopyRightToLeft</Command>
      </Hotkey>
    </Form>
    <Form Name="Editor">
      <Hotkey>
        <Shortcut>Ctrl+F</Shortcut>
        <Command>cm_EditFind</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>F7</Shortcut>
        <Command>cm_EditFind</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>F2</Shortcut>
        <Command>cm_FileSave</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+S</Shortcut>
        <Command>cm_FileSave</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>F3</Shortcut>
        <Command>cm_EditFindNext</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Shift+F3</Shortcut>
        <Command>cm_EditFindPrevious</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Alt+X</Shortcut>
        <Command>cm_FileExit</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Esc</Shortcut>
        <Command>cm_FileExit</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+X</Shortcut>
        <Command>cm_EditCut</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+N</Shortcut>
        <Command>cm_FileNew</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+O</Shortcut>
        <Command>cm_FileOpen</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+R</Shortcut>
        <Command>cm_EditRplc</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+C</Shortcut>
        <Command>cm_EditCopy</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+Z</Shortcut>
        <Command>cm_EditUndo</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+V</Shortcut>
        <Command>cm_EditPaste</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+A</Shortcut>
        <Command>cm_EditSelectAll</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+Shift+Z</Shortcut>
        <Command>cm_EditRedo</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+G</Shortcut>
        <Command>cm_EditGotoLine</Command>
      </Hotkey>
    </Form>
    <Form Name="Find Files">
      <Hotkey>
        <Shortcut>F3</Shortcut>
        <Command>cm_View</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>F4</Shortcut>
        <Command>cm_Edit</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>F7</Shortcut>
        <Command>cm_IntelliFocus</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>F9</Shortcut>
        <Command>cm_Start</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Esc</Shortcut>
        <Command>cm_CancelClose</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+N</Shortcut>
        <Command>cm_NewSearch</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+Shift+N</Shortcut>
        <Command>cm_NewSearchClearFilters</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+L</Shortcut>
        <Command>cm_LastSearch</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Alt+1</Shortcut>
        <Command>cm_PageStandard</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Alt+F7</Shortcut>
        <Command>cm_PageStandard</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Alt+2</Shortcut>
        <Command>cm_PageAdvanced</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Alt+3</Shortcut>
        <Command>cm_PagePlugins</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Alt+4</Shortcut>
        <Command>cm_PageLoadSave</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Alt+5</Shortcut>
        <Command>cm_PageResults</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Alt+F4</Shortcut>
        <Command>cm_FreeFromMem</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+Tab</Shortcut>
        <Command>cm_PageNext</Command>
      </Hotkey>
      <Hotkey>
        <Shortcut>Ctrl+Shift+Tab</Shortcut>
        <Command>cm_PagePrev</Command>
      </Hotkey>
    </Form>
  </Hotkeys>
</doublecmd>
