[Desktop Entry]
Name=Viewer
Exec=env WINEPREFIX="/home/hypnos/Games/gog/titan-quest-anniversary-edition" wine /home/ubuntu/buildbot/runners/wine/lutris-5.7-11-x86_64/bin/wine /Unix /home/hypnos/Games/gog/titan-quest-anniversary-edition/dosdevices/c:/ProgramData/Microsoft/Windows/Start\\ Menu/Programs/GOG.com/Titan\\ Quest\\ -\\ Anniversary\\ Edition/Tools/Viewer.lnk
Type=Application
StartupNotify=true
Comment=Viewer
Path=/home/hypnos/Games/gog/titan-quest-anniversary-edition/dosdevices/c:/GOG Games/Titan Quest - Anniversary Edition/
Icon=3C91_Viewer.0
StartupWMClass=viewer.exe
