[Desktop Entry]
Name=Campaign Editor
Exec=env WINEPREFIX="/home/hypnos/Games/gog/heroes-of-might-and-magic-iii" wine /home/ubuntu/buildbot/runners/wine/lutris-5.7-11-x86_64/bin/wine /Unix /home/hypnos/Games/gog/heroes-of-might-and-magic-iii/dosdevices/c:/ProgramData/Microsoft/Windows/Start\\ Menu/Programs/Heroes\\ of\\ Might\\ and\\ Magic\\ 3\\ Complete\\ [GOG.com]/Tools/Campaign\\ Editor.lnk
Type=Application
StartupNotify=true
Comment=Campaign Editor
Path=/home/hypnos/Games/gog/heroes-of-might-and-magic-iii/dosdevices/c:/GOG Games/HoMM 3 Complete/
Icon=8095_h3ccmped.0
StartupWMClass=h3ccmped.exe
