[Desktop Entry]
Name=Shadowgrounds Editor
Exec=env WINEPREFIX="/home/hypnos/Games/gog/shadowgrounds" /home/ubuntu/buildbot/runners/wine/lutris-6.0-rc1-x86_64/bin/wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/hypnos/Games/gog/shadowgrounds/dosdevices/c:/ProgramData/Microsoft/Windows/Start\\ Menu/Programs/Shadowgrounds\\ [GOG.com]/Shadowgrounds\\ Editor.lnk
Type=Application
StartupNotify=true
Comment=Shadowgrounds Editor
Path=/home/hypnos/Games/gog/shadowgrounds/dosdevices/c:/GOG Games/Shadowgrounds/
Icon=D988_Shadowgrounds Editor.0
StartupWMClass=shadowgrounds editor.exe
