[Desktop Entry]
Name=Readme
Exec=env WINEPREFIX="/home/hypnos/Games/gog/alien-shooter-expansions" /home/ubuntu/buildbot/runners/wine/lutris-6.0-rc1-x86_64/bin/wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/hypnos/Games/gog/alien-shooter-expansions/dosdevices/c:/ProgramData/Microsoft/Windows/Start\\ Menu/Programs/Alien\\ Shooter\\ with\\ Expansions\\ [GOG.com]/Documents/Readme.lnk
Type=Application
StartupNotify=true
Comment=Readme
Path=/home/hypnos/Games/gog/alien-shooter-expansions/dosdevices/c:/GOG Games/Alien Shooter
Icon=3C6E_ReadMe.0
