[Desktop Entry]
Name=Uninstall POD GOLD
Exec=env WINEPREFIX="/home/hypnos/Games/gog/pod-gold" /home/ubuntu/buildbot/runners/wine/lutris-6.0-rc1-x86_64/bin/wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/hypnos/Games/gog/pod-gold/dosdevices/c:/ProgramData/Microsoft/Windows/Start\\ Menu/Programs/POD\\ GOLD\\ [GOG.com]/Uninstall\\ POD\\ GOLD.lnk
Type=Application
StartupNotify=true
Path=/home/hypnos/Games/gog/pod-gold/dosdevices/c:/GOG Games/POD GOLD
Icon=9419_unins000.0
StartupWMClass=unins000.exe
