#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Whereby
Exec=/usr/lib/brave-bin/brave --profile-directory=Default --app-id=igamojompgopmihpkdkjokncpfffofgb
Icon=brave-igamojompgopmihpkdkjokncpfffofgb-Default
NoDisplay=true
StartupWMClass=crx_igamojompgopmihpkdkjokncpfffofgb
