[Desktop Entry]
Name=Game 378612438200877056
Exec=/usr/bin/openrct2 %u
Type=Application
NoDisplay=true
Categories=Discord;Games;
MimeType=x-scheme-handler/discord-378612438200877056;
