[Desktop Entry]
Type=Application
Name=winhlp32
MimeType=application/winhlp;
Exec=env WINEPREFIX="/home/hypnos/Games/gog/incoming" wine start /ProgIDOpen hlpfile %f
NoDisplay=true
StartupNotify=true
Icon=C06E_winhlp32.0
