[Desktop Entry]
Type=Application
Name=Wine Installer
MimeType=application/x-wine-extension-msp;
Exec=env WINEPREFIX="/home/hypnos/Games/gog/incoming" wine start /ProgIDOpen Msi.Patch %f
NoDisplay=true
StartupNotify=true
Icon=D23E_msiexec.0
