[Desktop Entry]
Type=Application
Name=hh
MimeType=application/vnd.ms-htmlhelp;
Exec=env WINEPREFIX="/home/hypnos/Games/gog/incoming" wine start /ProgIDOpen chm.file %f
NoDisplay=true
StartupNotify=true
Icon=D15F_hh.0
