[Desktop Entry]
Type=Application
Name=Wine Installer
MimeType=application/x-wine-extension-msp;
Exec=env WINEPREFIX="/home/hypnos/win32" /usr/bin/wine start /ProgIDOpen Msi.Patch %f
NoDisplay=true
StartupNotify=true
Icon=2402_msiexec.0
