[Desktop Entry]
Type=Application
Name=hh
MimeType=application/vnd.ms-htmlhelp;
Exec=env WINEPREFIX="/home/hypnos/win32" /usr/bin/wine start /ProgIDOpen chm.file %f
NoDisplay=true
StartupNotify=true
Icon=A35F_hh.0
