[Desktop Entry]
Type=Application
Name=winebrowser
MimeType=application/xml;
Exec=env WINEPREFIX="/home/hypnos/Games/gog/incoming" wine start /ProgIDOpen xmlfile %f
NoDisplay=true
StartupNotify=true
Icon=81F5_winebrowser.0
