[Desktop Entry]
Type=Application
Name=wscript
MimeType=text/vbscript;
Exec=env WINEPREFIX="/home/hypnos/win32" /usr/bin/wine start /ProgIDOpen VBSFile %f
NoDisplay=true
StartupNotify=true
Icon=B13E_wscript.0
